/* Applies font, background color, and text color to entire webpage.
  Also sets alignment for all elements on page */
html {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

/* Sets font size and, for h2, font weight for 1st 2 header elements*/
h1 {
  font-size: 50px;
}

video {
  display: flex;
  margin: auto;
  flex-shrink: 2;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

/*Ensures copyright logo is aligned right*/
footer {
  text-align: right;
}

/* Sets p color and size to differentiate from header pieces*/
p {
  font-size: 21px;
  color: grey;
}

/*Class to use for any instance of the app download link */
.app_download_link {
  color: aquamarine;
  font-size: 16px;
}
